node-red-basic/node-red-data/flows.json
[{"id":"830b0eb3.9e6a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80dc5ec7.75f73","type":"inject","z":"830b0eb3.9e6a","name":"","topic":"10","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["aed72d01.2e383"]]},{"id":"ae65e307.f9995","type":"debug","z":"830b0eb3.9e6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":840,"wires":[]},{"id":"aed72d01.2e383","type":"delay","z":"830b0eb3.9e6a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":740,"wires":[["ae65e307.f9995"]]}]